<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CF FPM test{% endblock %}</title>

    <script src="static/scripts/htmx.min.js"></script>
    <script src="static/scripts/tailwind.min.js"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.redsummit.at/metrics/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MJMD99WN');</script>
    <!-- End Google Tag Manager -->

    <meta name="description" content="website description"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/custom.css">
  </head>
  <body class="text-textgrey bg-primary">
    <div style="display: contents">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>

